<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Data Visualization</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src=" https://cdn.jsdelivr.net/npm/chartjs-chart-wordcloud"></script>
        <!-- <script src="{{ url_for('static', filename='js/chart.js') }}"></script> -->
    </head>
    <body>
        <h1>Logseq knowledge base analysis</h1>
        <p>
            This project is generalized. You'll have to supply your own Logseq.
        </p>
        <p>
            The goal of this visualization is to help you understand your own
            knowledge base and find new ways of separating and organize your
            knowledge base. By trying to give a birds eye view combined with
            your fine knowledge of whats inside Logseq, you might find new ways
            of achieving this. This can be done by looking for broader hashtags
            you could use for separating your knowledge base or drawing a line
            in your pages and splitting it into smaller graphs. (or both)
        </p>
        <p>
            Later, you'll have the chance to make notes. Its important to write
            your reasoning down as wel. This later comes in handy when you're
            validating them to see whats important to you and whats not. You get
            a lot of aera to type in, maybe use it for once.
        </p>
        <p>
            Know yourself and go scout in your logseq files. A lot of insights
            can be found by getting your hands dirty and by exploring and
            comparing the visual data with your logseq entries. It is important
            to take your time and jump back and forward in your logseq files and
            notes you'll be making.
        </p>
        <p>
            as a quick side note; I'll be refering to 2 different pages types,
            journal and notes. when I talk about journal, I'm talking about
            pages from your journal in logseq (with a date in the title). when I
            talk about notes, I'm talking about pages without a date (everything
            except journal pages).
        </p>
        <h2>Hashtags-level analysis</h2>
        <div class="left-liner">
            <p id="hashtag-count"></p>
            <p id="first-hashtag-date"></p>
            <p id="last-hashtag-date"></p>
            <p id="average-hashtag-page"></p>

            <p id="average-tags"></p>
            <p>
                TODO: do the same sub categories for hashtags as we did for
                words.
            </p>
        </div>
        <h3>Hashtag longegevity</h3>
        <p>
            If you have a big Logseq knowledge base, there are hashtags that are
            bound to be forgotten or only used once.
        </p>
        <p>lets first analyse the hashtag use troughout the year.</p>
        <div class="chart-container">
            <canvas id="HashDateLine"></canvas>
        </div>
        <p>
            now, you you see any spikes in the graph? an influx of new hashtags
            or a sudden drop in usage? That could be a sign of something
            interesting happening. Go look in Logseq around those dates.
        </p>
        <textarea
            id="n-h-longegevity"
            class="notes"
            placeholder="Notes you want to make..."
        ></textarea>
        <hr class="dashed" />
        <p>now, what are the most used hashtags?</p>
        <p>Let's first start off with the most used hashtags overall.</p>
        <div class="chart-container">
            <canvas id="HashUse"></canvas>
        </div>
        <p>
            Not much insights here... Let's split the hashtags by note and
            journal entry
        </p>
        <p>
            A quick note: if an entry is in both in a note and a journal entry,
            it will be sorted as a journal entry.
        </p>
        <p>
            Now, let's see how the top hashtags are used in notes and journal
            entries separately.
        </p>

        <div class="chart-container sideBySide">
            <canvas id="HashPage"></canvas>
            <canvas id="HashJournal"></canvas>
        </div>
        <p>
            Now there is a clear division between your notes and personal life
            (journal). Take a good look at all those hashtags. It's clear that
            you use different hashtags in your journal entries than in your
            pages. now, what are the most used hashtags? They probably have
            somthing to do with an activity you do often. What might be the
            relation between the most used one and their presence in notes and
            journal entries? What are broader or overachting themes a hashtag
            might belong to? Make a little list of those.
        </p>
        <textarea
            id="n-h-uses-months"
            class="notes"
            placeholder="Notes you want to make..."
        ></textarea>
        <hr />
        <h2>Page-level analysis</h2>
        <p>
            Pages are a little less interesting to look at, but still could give
            some context and insights for the hashtags.
        </p>
        <p>
            Lets first take a peak at some broad statistics. Might come in handy
            later.
        </p>
        <div class="left-liner">
            <p id="page-count"></p>
            <p id="journal-to-page-ratio"></p>

            <p id="total-words"></p>
            <p id="average-words"></p>
            <p id="average-words-journal"></p>
            <p id="average-words-page"></p>

            <p id="average-tags"></p>
        </div>
        <div class="small-chart-container">
            <canvas id="PageSentiment"></canvas>
        </div>

        <p>
            lets take a dive into the logseq pages, and see what we can learn
            from them
        </p>
        <div class="chart-container">
            <canvas id="PageDates"></canvas>
        </div>
        <p>
            I bet this chart may look very familiar to you. It is common for an
            influx of new hashtags to appear around the same time as a new pages
            are added. This is because the new pages are likely to have a lot of
            new hashtags, and these hashtags will be used in the future.
        </p>
        <p>
            Take notes! Why is there an influx or a dip, what happened around
            that time that explain why so many new notes, what was it related
            to? why are there more journal entries than new pages, where you
            focussed on something? Go ahead and snuff in jour Logseq pages.
        </p>
        <textarea
            id="n-h-uses-split"
            class="notes"
            placeholder="Notes you want to make..."
        ></textarea>
        <!-- <div class="chart-container">
            <canvas id="PageWords"></canvas>
        </div> -->
        <hr />
        <h2>Mixed analysis</h2>
        <p>
            So far we have looked at pages and hashtags seperately, now, lets
            overlay some of the data we have collected.
        </p>
        <p>
            Lets take a look at the hashtag amount minus the created pages. this
            should end in a normalized & flat curve. assuming the hastag per
            page stay's constant, means that if there's a spike, a page or few
            pages have something going on. Go in the logseq files and see what
            happened.
        </p>
        <div class="chart-container">
            <canvas id="mix_longevity"></canvas>
        </div>

        <hr />
        <h2>The conclusion</h2>
        <p>
            You have taken a broad look and took a closer look in your logseq
            files where needed. Its about time we looked at the notes you have
            taken troughout.
        </p>
        <!-- this button is here so people click out of the textarea so the js can do its thing -->
        <button id="Compile-notes">Compile my notes!</button>
        <p>
            Beatifull notes as they are, but they're not perfect. Lets rewrite
            them to make them more contextually relevant.
            <b>TL;DR: lets make a proper summary of your insights.</b> This will
            help you remember what you were thinking when you wrote it, and also
            help others understand your thoughts better.
        </p>
        <p>Or just copy you're notes.</p>
        <p>Now, here are the notes you took:</p>
        <div class="left-liner">
            <p id="note-view1" class="note-view">
                You didn't take any notes here...
            </p>
            <p id="note-view2" class="note-view">
                You didn't take any notes here...
            </p>
            <p id="note-view3" class="note-view">
                You didn't take any notes here...
            </p>
        </div>
        <p>
            Althoug there is no text area provided for you, you can still type
            them down in a text editor like Word or Notepad++.
        </p>
        <!-- <p>How to organize your document?</p>
        <p>
            First, start with an short indroduction to what this is about.
            Next, make a litle list of your key 
        </p> -->
        <script
            src="{{ url_for('static', filename='js/app.js') }}"
            defer
        ></script>
        <script
            src="{{ url_for('static', filename='js/notes.js') }}"
            defer
        ></script>
    </body>
</html>
