<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Data Visualization</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src=" https://cdn.jsdelivr.net/npm/chartjs-chart-wordcloud"></script>
        <!-- <script src="{{ url_for('static', filename='js/chart.js') }}"></script> -->
    </head>
    <body>
        <h1>Logseq knowledge base analysis</h1>
        <p>
            This project is generalized. You'll have to supply your own Logseq
            knowledge base and make your own conclusions.
        </p>
        <p>
            Know yourself and go scout in your logseq files. A lot of insights
            can be found by getting your hands dirty by exploring and comparing
            the visual data with your logseq entries. It is important to take
            your time and jump back and forward in your logseq files and notes
            you'll be making.
        </p>
        <h2>Hashtags-level analysis</h2>
        <div class="left-liner">
            <p id="hashtag-count"></p>
            <p id="first-hashtag-date"></p>
            <p id="last-hashtag-date"></p>
            <p id="average-hashtag-page"></p>

            <p id="average-tags"></p>
            <p>
                TODO: do the same sub categories for hashtags as we did for
                words.
            </p>
        </div>
        <h3>Hashtag longevity</h3>
        <p>
            If you have a big Logseq knowledge base, there are hashtags that are
            bound to be forgotten.
        </p>
        <p>lets first analyse the hashtag use troughout the year.</p>
        <div class="chart-container">
            <canvas id="HashDateLine"></canvas>
        </div>
        <p>
            now, you you see any spikes in the graph? an influx of new hashtags
            or a sudden drop in usage? That could be a sign of something
            interesting happening.
        </p>
        <textarea
            class="notes"
            placeholder="Notes you want to make..."
        ></textarea>
        <hr class="dashed" />
        <p>now, what are the most used hashtags?</p>
        <p>Let's first start off with the most used hashtags overall.</p>
        <div class="chart-container">
            <canvas id="HashUse"></canvas>
        </div>
        <p>
            Not much insights here... Let's split the hashtags by note and
            journal entry
        </p>
        <p>
            A quick note: if an entry is in both a note and a journal entry, it
            will be sorted as a journal entry.
        </p>
        <p>
            Now, let's see how the top hashtags are used in notes and journal
            entries separately.
        </p>

        <div class="chart-container sideBySide">
            <canvas id="HashPage"></canvas>
            <canvas id="HashJournal"></canvas>
        </div>
        <p>
            now, what are the most used hashtags? What might be the relation
            between the most used one and their presence in notes and journal
            entries? What are the categories a hashtag might belong to?
        </p>
        <textarea
            class="notes"
            placeholder="Notes you want to make..."
        ></textarea>
        <hr class="dashed" />
        <h2>Page-level analysis</h2>
        <p>
            Pages are a little less interesting to look at, but still could give
            some context and insights for the hashtags.
        </p>
        <p>Lets first take a peak at some broad statistics.</p>
        <div class="left-liner">
            <p id="page-count"></p>
            <p id="journal-to-page-ratio"></p>

            <p id="total-words"></p>
            <p id="average-words"></p>
            <p id="average-words-journal"></p>
            <p id="average-words-page"></p>

            <p id="average-tags"></p>
            <p>
                TODO: do the same sub categories for hashtags as we did for
                words.
            </p>
        </div>

        <p>
            lets take a dive into the logseq pages, and see what we can learn
            from them
        </p>
        <div class="chart-container">
            <canvas id="PageDates"></canvas>
        </div>
        <p>
            I bet this chart may look very familiar to you. It is common for an
            influx of new hashtags to appear around the same time as a new pages
            are added. This is because the new pages are likely to have a lot of
            new hashtags, and these hashtags will be used in the future.
        </p>
        <p>
            Take notes! Why is there an influx or a dip, did something happen
            around that time, what was it related to? why are there more journal
            entries than new pages, where you focussed on something? Go ahead
            and snuff in jour Logseq pages.
        </p>
        <textarea
            class="notes"
            placeholder="Notes you want to make..."
        ></textarea>
        <!-- <div class="chart-container">
            <canvas id="PageWords"></canvas>
        </div> -->

        <script
            src="{{ url_for('static', filename='js/app.js') }}"
            defer
        ></script>
    </body>
</html>
